.column {
  background: #efefef;
  border-radius: 6px;
  border: 1px solid #dadada;
  padding: 0 16px;
  position: relative;
  max-height: 77vh;
  overflow-y: scroll;
}
.column .header {
  padding: 16px 0;
  position: sticky;
  background: #efefef;
  top: 0;
}
.add {
  position: absolute;
  font-size: 41px;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #222;
  font-family: sans-serif;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  right: 0;
  top: 12px;
  height: 24px;
  width: 24px;
}
.add[disabled] {
  color: #999;
  cursor: default;
}
.add:focus {
  outline: none;
  outline: 3px solid -webkit-focus-ring-color;
}
.column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.column h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  color: #222;
}
